# Database Configuration
DB_HOST=dpg-d8bku3oj06nc73e55hng-a
DB_PORT=5432
DB_NAME=todo_db_2
DB_USER=todo_db_2_user
DB_PASSWORD=69p7iMB52e3Q0kLkf17zRMBUcmzgay8i

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
